/* ===========================================================
    CAROUSEL
=========================================================== */
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-invert-color);
    background: #de652c;
    height: calc(100vh / 2);
}

.carousel > #carousel-content > div {
    width: 100vw;
}

.carousel > #carousel-content h1 {
    margin-left: 100px;
}

.carousel > #dots {
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.glider-dot {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.glider-dot.active {
    background-color: var(--text-invert-color) !important;
}

/* ===========================================================
    WELCOME
=========================================================== */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 20%;
}

.welcome > h1 {
    margin-bottom: 50px;
}

/* ===========================================================
    SHOP BY PET 
=========================================================== */
.shop-by-pet {
    position: relative;
    background: #ebebeb;
    height: calc(100vh - 160px);
}

.shop-by-pet > h2 {
    text-align: center;
    padding: 30px 0;
}

.shop-by-pet > .dog-bg,
.shop-by-pet > .cat-bg,
.shop-by-pet > .bird-bg,
.shop-by-pet > .fish-bg,
.shop-by-pet > span > .small-pet-bg,
.shop-by-pet > span > .small-pet-2-bg {
    position: absolute;
    z-index: 0;
}

.shop-by-pet > .dog-bg {
    bottom: 0;
    right: 50px;
    width: 20%;
}

.shop-by-pet > .cat-bg {
    bottom: 0;
    width: 20%;
}

.shop-by-pet > .bird-bg {
    width: 8%;
    top: 10%;
    left: 33%;
}

.shop-by-pet > span > .small-pet-bg {
    bottom: 0;
    width: 10%;
    right: 26%;
}

.shop-by-pet > span > .small-pet-2-bg {
    bottom: 0;
    width: 8%;
    left: 33%;
}

.shop-by-pet > .fish-bg {
    width: 8%;
    bottom: 40%;
    right: 35%;
}

.shop-by-pet > .icon {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.shop-by-pet > .icon > .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    background: #f3f3f3;
    box-shadow: 0 5px 10px var(--shadow-color-one);
}

.shop-by-pet > .icon > .image > img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.shop-by-pet > .icon > .label,
.shop-by-pet > .icon > .actions {
    margin-top: 20px;
    font-weight: bold;
}

.shop-by-pet > .icon > .actions {
    display: none;
}

.shop-by-pet > .icon > .actions > a {
    color: var(--text-color);
}

.shop-by-pet > .icon > .actions > a:hover {
    color: var(--primary-color);
}

.shop-by-pet > .icon:hover > .label {
    display: none;
}

.shop-by-pet > .icon:hover > .actions {
    display: inline-block;
}

.shop-by-pet > .icon.dog {
    top: 5%;
    left: 5%;
}

.icon.dog:hover + .dog-bg {
    filter: invert(55%) sepia(100%) saturate(969%) hue-rotate(177deg) brightness(80%) contrast(10%);
}

.icon.fish:hover + .fish-bg {
    filter: invert(55%) sepia(100%) saturate(969%) hue-rotate(177deg) brightness(80%) contrast(10%);
}

.icon.bird:hover + .bird-bg {
    filter: invert(55%) sepia(100%) saturate(969%) hue-rotate(177deg) brightness(80%) contrast(10%);
}

.icon.cat:hover + .cat-bg {
    filter: invert(55%) sepia(100%) saturate(969%) hue-rotate(177deg) brightness(80%) contrast(10%);
}

.icon.small-pet:hover + span > img {
    filter: invert(55%) sepia(100%) saturate(969%) hue-rotate(177deg) brightness(80%) contrast(10%);
}

.shop-by-pet > .icon.small-pet {
    top: 34%;
    left: 23%;
}

.shop-by-pet > .icon.fish {
    top: 63%;
    left: 45%;
}

.shop-by-pet > .icon.bird {
    top: 32%;
    right: 22%;
}

.shop-by-pet > .icon.cat {
    top: 5%;
    right: 5%;
}

.shop-by-pet > .icon.small-pet > .image > img {
    width: 80%;
}

/* ===========================================================
    PRODUCTS 
=========================================================== */
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-invert-color);
    background-color: var(--primary-color);
    height: calc(100vh - 160px);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-invert-color);
    background-color: rgba(0, 0, 0, 0.8);
    height: calc((100vh / 2) - 160px);
}

@media screen and (max-width: 786px) {
    .shop-by-pet {
        height: calc(100vh / 1.5);
    }

    .shop-by-pet > .icon > .image {
        width: 140px;
        height: 140px;
    }
}

@media screen and (max-width: 480px) {
    .carousel > #carousel-content h1 {
        margin-left: 50px;
    }

    .shop-by-pet > .dog-bg,
    .shop-by-pet > .cat-bg,
    .shop-by-pet > .bird-bg,
    .shop-by-pet > .fish-bg,
    .shop-by-pet > span {
        display: none;
    }

    .shop-by-pet {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr;
        grid-row-gap: 30px;
        text-align: center;
        height: 100% !important;
        padding: 30px 0;
    }

    .shop-by-pet > .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0 !important;
        left: 0 !important;
    }
}
