.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-invert-color);
    background: #de652c;
    height: calc(100vh / 2);    
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 20%;
}

.welcome > h1 {
    margin-bottom: 50px;
}

.shop-by-pet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #857c7c;
    height: calc(100vh - 160px);
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-invert-color);
    background-color: var(--primary-color);
    height: calc(100vh - 160px);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-invert-color);
    background-color: rgba(0, 0, 0, 0.8);
    height: calc((100vh / 2) - 160px);
}