* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Segoe UI Light";
}

html,
body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
}

.container {
    min-height: calc(100% - 210px);
    /* 210px = 80px header + 80px nav + 50px footer */
    padding-top: 160px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--text-invert-color);
    background-color: var(--footer-background-color);
}

@media screen and (max-device-width: 768px) {
    * {
        font-size: 14px;
    }

    .container {
        min-height: calc(100% - 130px);
        /* 130px = 80px header + 50px footer */
        padding-top: 80px;
    }
}

@media screen and (max-device-width: 480px) {
    * {
        font-size: 12px;
    }

    .container {
        min-height: calc(100% - 100px);
        /* 100px = 50px header + 50px footer */
        padding-top: 50px;
    }
}
