nav {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80px;
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 3;
    background: var(--text-invert-color);
    box-shadow: 0px 3px 6px var(--shadow-color-one);
}

nav > i {
    display: none !important;
}

nav > ul > li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 20px;
    line-height: 72px;
}

nav > ul > li.active {
    color: var(--primary-color);
    border-bottom: 8px solid;
}

nav > ul > li.active > a {
    color: var(--primary-color);
}

nav > ul > li > a {
    color: var(--text-color);
    text-decoration: none;
}

@media screen and (max-width: 1920px) {
    aside {
        position: absolute;
        left: -400px;
        top: 0;
        height: 100vh;
        width: 400px;
        z-index: 3;
        background: var(--text-invert-color);
        transition: all ease-in-out 0.5s;
        box-shadow: 0px 3px 6px var(--shadow-color-one);
    }
}

@media screen and (max-width: 1110px) {
    nav {
        display: none;
    }

    aside.open {
        left: 0px;
    }

    aside > i {
        position: absolute;
        top: 30px;
        right: 30px;
        display: inline-block !important;
    }
}

@media screen and (max-width: 480px) {
    aside {
        left: -110vw;
        width: 100vw;
    }
}
