.vendor-header {
    background: linear-gradient(to right, var(--primary-color), #972ab1);
    color: var(--text-invert-color);
    display: flex;
    align-items: center;
}

.vendor-header > .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--grey-one);

    margin-right: 30px;
}

.vendor-header > .details > .rating-box {
    margin-right: 30px;
}

.vendor-header > .details > .rating-box > p > i,
.vendor-header > .details > .review-box > p > i,
.vendor-header > .details > .review-box > p > a,
.vendor-header > .details > .rating-box > p > a {
    color: #fff;
}

.vendor-header > .details > .review-box > p > a,
.vendor-header > .details > .rating-box > p > a {
    cursor: pointer;
}

[data-mode="dark"] .vendor-header > .details > .rating-box > p > i,
[data-mode="dark"] .vendor-header > .details > .review-box > p > i {
    color: #000;
}

.vendor-header > .details > .rating-box > p,
.vendor-header > .details > .review-box > p {
    margin: 0;
}

.vendor-header,
.service-description,
.tags,
.gallery {
    padding: 30px 15%;
}

.vendor-header > .logo,
.vendor-header > .details,
.vendor-header > .details > .rating-box,
.vendor-header > .details > .review-box {
    display: inline-block;
}

.vendor-footer {
    background: var(--body-bg-secondary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 0;
}

.service-description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--body-bg-secondary);
    opacity: 0.8;
}

.service-description > .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-description > .image > img {
    width: 100%;
    height: auto;
}

.tags > ul > li {
    background-color: var(--primary-color);
    color: #fff !important;
    display: inline-block;
}

.gallery > div {
    display: inline-block;
    width: 250px;
    height: 200px;
    background: var(--grey-one);
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .vendor-header {
        padding: 30px 7%;
    }
}

@media screen and (max-width: 480px) {
    .vendor-header,
    .service-description,
    .tags,
    .gallery {
        padding: 10px 5%;
    }

    .vendor-header > .logo {
        width: 100px;
        height: 100px;
    }

    .vendor-footer {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 20px;
    }

    .vendor-header > .details > .rating-box.center,
    .vendor-header > .details > .review-box.center {
        display: none;
    }
}
